{% extends 'base.html' %}
{% block content %}
{% include 'navbar_penonton.html' %}

<head>
    <meta charset="UTF-8">
    <title>Pembelian Tiket Sepakbola</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css">
    <style>
      table {width:80%; border-collapse: collapse; margin: 30px 10px; font-size: 0.9em;font-family: sans-serif; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); margin-left:auto;margin-right:auto; }
      tr {border-collapse: collapse; margin: 25px 0;font-size: 0.9em;font-family: sans-serif;box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);margin-left:auto;margin-right:auto;} 
      th,td {background-color: #f3f3f3; width:100px; text-align: center; height: 80px;}
  </style>
  </head>
  
  <body style="background-color: #f3f3f3;">
    <div class="container mx-auto my-8">
      <h1 class="text-3xl flex justify-center font-bold mb-4">Pembelian Tiket Sepakbola</h1>
      
      <form class="mx-auto w-full max-w-lg"  style="padding: 40px; background-color: #eee;border-radius: 5px; box-shadow: 4px 4px #ccc;" action="/pilih-stadium" method="post">

        <div class="flex flex-wrap mb-6;">
          <label class="w-full mb-2" for="dropdown"  style="padding-top: 5px;">Jenis Tiket :  </label>
          <select id="dropdown"  style="padding: 5px; background-color: #ffffff;border-radius: 5px; box-shadow: 4px 4px #ccc;">
            <option value="option1">VIP</option>
            <option value="option2">Main East</option>
            <option value="option3">Kategori 1</option>
            <option value="option3">Kategori 2</option>
          </select>
        </div>

        <div class="flex flex-wrap mb-6;">
          <label class="w-full mb-2" for="dropdown"  style="padding-top: 10px;">Pembayaran : </label>
          <select id="dropdown"  style="padding: 10px;background-color: #ffffff;border-radius: 5px; box-shadow: 4px 4px #ccc;">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option3">Option 4</option>
          </select>
        </div>
       
        <div class="flex items-center justify-center">
          <submit class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg" type="submit">Beli</submit>
        </div>
      </form>
    </div>
  </body>



{% endblock content %}
