{% extends 'base.html' %}

{% block content %}
{% include 'navbar_manager.html' %}


<head>
    <meta charset="UTF-8">
    <title>DAFTAR PELATIH</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css">
  </head>
  
  <body class="bg-gray-100">
    <div class="container mx-auto my-8">
      <h1 class="text-3xl flex justify-center font-bold mb-4">DAFTAR PELATIH</h1>
      <form id="stadiumForm" class="mx-auto w-full max-w-lg" action="{% url 'mengelola_tim:daftar_pelatih' %}" method="POST">
        {% csrf_token %}
        <div class="flex flex-wrap mb-6;">
          <label class="w-full mb-2" for="form">Pelatih yang mau didaftarkan :   </label>
          
          <select id="pelatih" name="pelatih">
            {% for pelatih in data %}
              <option value="{{pelatih.id_pelatih }}">{{ pelatih.nama }}- {{pelatih.spesialisasi}}</option>
            {% endfor %}
          </select>
        </div>

        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
                  <h2{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h2>
              {% endfor %}
          </ul>
        {% endif %}

        <div class="flex flex-wrap mb-6;">
          <label class="w-full mb-2" for="form"> </label>
        </div>

        <div class="flex items-center justify-center">
          <a href="{% url 'mengelola_tim:show_tim' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Submit</a>
        </div>
      </form>
    </div>
  </body>



{% endblock content %}