{% extends 'base.html' %}

{% block content %}
{% include 'navbar_manager.html' %}


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css">
</head>

<body class="bg-gray-100">
	<div class="container mx-auto my-8">
		<h1 class="flex justify-center text-3xl font-bold mb-4">TIM</h1>
        
        <h5 class="flex justify-center text-3xl font-bold mb-4">Pemain</h5>
        <div class="mt-5 flex justify-center">
            <table class="table-auto border border-gray-300">
                <thead>
                    <tr class="bg-gray-700 text-gray-200">
                        <th class="py-2 px-4 border">Nama Pemain</th>
                        <th class="py-2 px-4 border">No HP</th>
                        <th class="py-2 px-4 border">Tanggal Lahir</th>
                        <th class="py-2 px-4 border">Is Captain</th>
                        <th class="py-2 px-4 border">Posisi</th>
                        <th class="py-2 px-4 border">NPM</th>
                        <th class="py-2 px-4 border">Jenjang</th>
                        <th class="py-2 px-4 border">Action</th>
                    </tr>
                </thead>


                <tbody>
                    {% for p in datapemain %}
                    <tr class="bg-gray-200 border border-black border-2">
                        <td class="py-2 px-4 border">{{p.nama}}</td>
                        <td class="py-2 px-4 border">{{p.nomor_hp}}</td>
                        <td class="py-2 px-4 border">{{p.tgl_lahir}}</td>
                        <td class="py-2 px-4 border">{{p.is_captain}}</td>
                        <td class="py-2 px-4 border">{{p.posisi}}</td>
                        <td class="py-2 px-4 border">{{p.npm}}</td>
                        <td class="py-2 px-4 border">{{p.jenjang}}</td>
                        <td  class="py-2 px-4 border">
                            {% if not p.is_captain %}
                                <a href="{% url 'mengelola_tim:cek_captain' id=p.id_pemain %}" class="hover:bg-blue-700 text-blue font-bold py-2 px-4 rounded-full">Make Captain</a>
                            {% endif %}
                            <a href="{% url 'mengelola_tim:delete_tim' id=p.id_pemain role='pemain' %}" class="hover:bg-blue-700 text-blue font-bold py-2 px-4 rounded-full">Delete</a>
                        </td>
                        <td class="py-2 px-4 border">
                            <button class="hover:bg-blue-700 text-blue font-bold py-2 px-4 rounded-full">Make Caption Delete</button><br>
                        </td>
                    </tr>
                    {% endfor %}
        
                </tbody>
            </table>
        </div>

        <h5 class="flex justify-center text-3xl font-bold mb-4">          </h5>
        <h5 class="flex justify-center text-3xl font-bold mb-4">          </h5>


        <h5 class="flex justify-center text-3xl font-bold mb-4">Pelatih</h5>
        <div class="mt-5 flex justify-center">
            <table class="table-auto border border-gray-300">
                <thead>
                    <tr class="bg-gray-700 text-gray-200">
                        <th class="py-2 px-4 border">Nama</th>
                        <th class="py-2 px-4 border">No HP</th>
                        <th class="py-2 px-4 border">Email</th>
                        <th class="py-2 px-4 border">Alamat</th>
                        <th class="py-2 px-4 border">Spesialisasi</th>
                        <th class="py-2 px-4 border">Action</th>
                    </tr>
                </thead>


                <tbody>
                    {% for p in datapelatih %}
                    <tr class="bg-gray-200 border border-black border-2">
                        <td class="py-2 px-4 border">{{p.nama}}</td>
                        <td class="py-2 px-4 border">{{p.nomor_hp}}</td>
                        <td class="py-2 px-4 border">{{p.email}}</td>
                        <td class="py-2 px-4 border">{{p.alamat}}</td>
                        <td class="py-2 px-4 border">{{p.spesialisasi}}</td>
                        <td class="py-2 px-4 border">
                            <a href="{% url 'mengelola_tim:delete_tim' id=p.id role='pelatih' %}" class="hover:bg-blue-700 text-blue font-bold py-2 px-4 rounded-full">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
        
                </tbody>
            </table>
        </div>

        <div class="mt-5 flex items-center justify-center">
            <a href="{% url 'mengelola_tim:daftar_pemain' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Pemain</a>

        </div>

        <div class="mt-5 flex items-center justify-center">
            <a href="{% url 'mengelola_tim:daftar_pelatih' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Pelatih</a>
            
        </div>
	</div>
</body>

{% endblock content %}