{% extends 'base.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css">
</head>

<body class="bg-gray-100">
	<div class="container mx-auto my-8">
		<h1 class="flex justify-center text-3xl font-bold mb-4">Pilih Peristiwa Tim Persija</h1>
        <div class="flex justify-center">
            <table class="w-auto table-auto border-collapse border border-gray-900">
                <thead>
                    <tr class="bg-gray-700 text-gray-200">
                        <th class="py-2 px-4 border">Nama Pemain</th>
                        <th class="py-2 px-4 border">Peristiwa</th>
                    </tr>
                </thead>
                <tbody class="bg-gray-200">
                    <tr>
                        <td class="py-2 px-4 border">
                            <select>
                                <option value="">None</option>
                                <option value="player1">Messi</option>
                                <option value="player2">McGregor</option>
                                <option value="player3">Player 3</option>
                            </select>
                        </td>
                        <td class="py-2 px-4 border">
                            <select>
                                <option value="">None</option>
                                <option value="redcard">Red Card</option>
                                <option value="yellowcard">Yellow Card</option>
                                <option value="goal">Goal</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="py-2 px-4 border">
                            <select>
                                <option value="">None</option>
                                <option value="player1">McGregor</option>
                                <option value="player2">Player 2</option>
                                <option value="player3">Player 3</option>
                            </select>
                        </td>
                        <td class="py-2 px-4 border">
                            <select>
                                <option value="">None</option>
                                <option value="redcard">Red Card</option>
                                <option value="yellowcard">Yellow Card</option>
                                <option value="goal">Goal</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="py-2 px-4 border">
                            <select>
                                <option value="">None</option>
                                <option value="player1">Player 1</option>
                                <option value="player2">McGregor</option>
                                <option value="player3">Player 3</option>
                            </select>
                        </td>
                        <td class="py-2 px-4 border">
                            <select>
                                <option value="">None</option>
                                <option value="redcard">Red Card</option>
                                <option value="yellowcard">Yellow Card</option>
                                <option value="goal">Goal</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="py-2 px-4 border">
                            <select>
                                <option value="">None</option>
                                <option value="player1">Neymar</option>
                                <option value="player2">McGregor</option>
                                <option value="player3">Player 3</option>
                            </select>
                        </td>
                        <td class="py-2 px-4 border">
                            <select>
                                <option value="">None</option>
                                <option value="redcard">Red Card</option>
                                <option value="yellowcard">Yellow Card</option>
                                <option value="goal">Goal</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="py-2 px-4 border">
                            <select>
                                <option value="">None</option>
                                <option value="player1">Messi</option>
                                <option value="player2">McGregor</option>
                                <option value="player3">Player 3</option>
                            </select>
                        </td>
                        <td class="py-2 px-4 border">
                            <select>
                                <option value="">None</option>
                                <option value="redcard">Red Card</option>
                                <option value="yellowcard">Yellow Card</option>
                                <option value="goal">Goal</option>
                            </select>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
		
        <div class="mt-8 flex items-center justify-center">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" type="submit">Submit</button>
        </div>
	</div>
</body>

{% endblock content %}